body{
    background-color: #F5F3ED;
    top: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
}
img{
    width: inherit;
    height: inherit;
}
p{
    margin: 0;
    font-size: inherit;
}
h3{
    margin: 0px;
    font-size: inherit;
    font-weight: inherit;
}
/********* LOGO ************/
h1{
    margin: 0px;
    font-size: 20px;
    font-weight: 700;
    font-family: CormorantGaramond-Bold;
}
.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#logo-marrom{
    width: 2px;
    height: 5px;
}
/**************** LINKS ******************/
a{
    text-decoration: none;
    color: inherit;
}
h2{
    margin: 0px;
    font-family: CormorantGaramond-Regular;
    font-size: 19px;
    font-weight: 400;
}
hr{
    color: #b2724a;
    background-color: #b2724a;
    width: 70%;
    height: 2.5px;
    border-radius: 20px;
    border-width: 0px;
    margin: 5px;
}
.link{
    width: min-content;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.telefone{
    white-space: nowrap;
    display: flex;
    justify-content: space-around;
    width: 50%;
}

/************** HEADER GERAL ********************/
header{
    width: 100%;
    height: 15%;
    position: fixed;
    background-color: #57290B;
    background-size: cover;
    color: #ffff;
    top: 0;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    z-index: 5;
}
.header-direita{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin-right: 8%;
    width: 20%;
}
.header-esquerda{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin-left: 8%;
    width: 20%;
}

/************** HOME - TELA PRINCIPAL ***************/
.home{
    position: relative;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(imagens/fundocafeteria.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.body-home{
    position: relative;
    margin-top: 100px;
    margin-left: 119px;
    width: 43%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
}
.home-txt-prin{
    font-family: OpenSans;
    font-size: 56px;
    font-weight: 700;
}
.home-txt-sec{
    font-family: OpenSans;
    font-size: 30px;
    font-weight: 250;
}
.home-botao{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #8F542E;
    width: 280px;
    height: 55px;
    border-radius: 8px;
    font-family: OpenSans;
    font-size: 20px;
    font-weight: 700;
}

/*********** SOBRE NÓS ************/
.sobre-nos {
    height: 100vh;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}
.sobre-nos-direita {
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.sobre-nos-esquerda{
    height: 100%;
    width: 45%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.sobre-botao{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #8F542E;
    color: white;
    width: 280px;
    height: 55px;
    border-radius: 8px;
    font-family: OpenSans;
    font-size: 20px;
    font-weight: 700;
}
/******** SOBRE NOS - TITULO *********/
.sobre-titulo{
    font-family: CormorantGaramond;
    font-size: 40px;
    font-weight: 600;
    position: relative;
}
.sobre-txt{
    font-family: OpenSans;
    font-weight: 500;
}
#hr-sobre-nos{
    position: absolute;
    z-index: -1;
    color: #FBC9A8;
    background-color: #FBC9A8;
    width: 255px;
    height: 28px;
    border-radius: 0px;
    margin: -25px 0px 0px -15px;
}

/******* SOBRE NÓS - IMAGEM LATERAL *********/
.xicaras{
    width: 352px;
    height: 340px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 8px;
    margin-right: -100px;
}

/********** ONDA CAFÉ - FAZER CERTINHO AINDA ********/
#onda-cafe{
    position: absolute;
    display: block;
}
.cont-onda-cafe{
    position: relative;
    height: 200px;
    width: 100vw;
    background-image: url(cafe.svg);
}
/*
.cont-onda-cafe::before{
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: #F5F3ED;
    top: 40px;  
   left: 0;
}
.cont-onda-cafe::after{
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 50vw;
    height: 70px;
    background-image: url(cafe.svg);
    left: 0;
    top: 27px;
}
*/


/******** CARROSSEL *********/
.cafeteria{
    background-color: #8F542E;
    width: 100vw;
    height: 100%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}
.cafeteria-titulo{
    font-family: CormorantGaramond;
    font-weight: 700;
    font-size: 40px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.cafeteria-titulo-detalhe{
    width: 250px;
    height: 3px;
    background-color: #B2784A;
    border-radius: 5px;
}
