*{
    margin: 0;
    font-weight: inherit;
    font-size: inherit;
}
body{
    background-color: #F5F3ED;
    top: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
}
img{
    width: inherit;
    height: inherit;
}
button{
    text-decoration: 0;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    color: #fff;
}
/********* LOGO ************/
header h1{
    font-size: 20px;
    font-weight: 400;
    font-family: CormorantGaramond-Bold;
}
.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#logo-marrom{
    width: 2px;
    height: 5px;
}
/**************** LINKS ******************/
a{
    text-decoration: none;
    color: inherit;
}
h2{
    font-family: CormorantGaramond-Regular;
    font-size: 19px;
    font-weight: 400;
}
.link hr{
    color: #b2724a;
    background-color: #b2724a;
    width: 70%;
    height: 2.5px;
    border-radius: 20px;
    border-width: 0px;
    margin: 5px;
}
.link{
    width: min-content;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.telefone{
    white-space: nowrap;
    display: flex;
    justify-content: space-around;
    width: 50%;
}

/************** HEADER GERAL ********************/
header{
    width: 100%;
    height: 15%;
    position: fixed;
    background-color: #57290B;
    background-size: cover;
    color: #ffff;
    top: 0;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    z-index: 5;
}
.header-direita{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin-right: 8%;
    width: 20%;
}
.header-esquerda{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin-left: 8%;
    width: 20%;
}

/************** HOME - TELA PRINCIPAL ***************/
.home{
    position: relative;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(imagens/fundocafeteria.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.body-home{
    position: relative;
    margin-top: 100px;
    margin-left: 119px;
    width: 43%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
}
.home-txt-prin{
    font-family: OpenSans;
    font-size: 56px;
    font-weight: 700;
}
.home-txt-sec{
    font-family: OpenSans;
    font-size: 30px;
    font-weight: 250;
}
.home-botao, .sobre-botao, .form-botao{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #8F542E;
    width: 280px;
    height: 55px;
    border-radius: 8px;
    font-family: OpenSans;
    font-size: 20px;
    font-weight: 700;
}
.home-botao:hover, .sobre-botao:hover, .form-botao:hover{
    background-color: #b2724a;
}

/*********** SOBRE NÓS ************/
.sobre-nos {
    height: 100vh;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 5vh 0 15vh 0;
}
.sobre-nos-direita {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.sobre-nos-esquerda{
    height: 100%;
    width: 45%;
    justify-content: center;
    align-items: center;
    display: flex;
}

/******** SOBRE NOS - TITULO *********/
.sobre-titulo{
    font-family: CormorantGaramond;
    font-size: 40px;
    font-weight: 300;
    position: relative;
}
.sobre-txt{
    font-family: OpenSans;
    font-weight: 500;
}
.sobre-titulo hr, .contato-titulo hr{
    position: absolute;
    z-index: -1;
    color: #FBC9A8;
    background-color: #FBC9A8;
    width: 255px;
    height: 28px;
    border-radius: 0px;
    margin: -25px 0px 0px -15px;
    border: transparent;
    
}

/******* SOBRE NÓS - IMAGEM LATERAL *********/
.xicaras{
    width: 352px;
    height: 340px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 8px;
    margin-right: -100px;
}

/********** ONDA CAFÉ  ********/
.onda-cafe{
    position: relative;
    z-index: 4;
}
.cont-onda-cafe{
    position: absolute;
    margin-top: -100px;
    
}

/******** CARROSSEL *********/
.cafeteria{
    background-color: #8F542E;
    width: 100vw;
    min-height: 100vh;
    padding-top: 150px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}
.cafeteria-titulo hr{
    color: #b2724a;
    background-color: #b2724a;
    width: 15%;
    height: 2.5px;
    border-radius: 20px;
    border-width: 0px;
    margin: 5px;
}
.cafeteria-titulo-txt{
    font-family: CormorantGaramond;
    font-weight: 400;
    font-size: 40px;
    color: white;
}
.cafeteria-titulo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

/*CARROSSEL 2 CAFETERIA*/

.container-slider{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 80vh;
}


.container-painel{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}
.slider {
    opacity: 0;
    transition: opacity .5s;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 100%;
    border-radius: 10px;
}
.on {
    opacity: 1;
}

.painel{
    display: flex;
    align-items: flex-start;
    height: 400px;
    max-width: 345px;
    list-style: none;
    background: #fff;
    border-radius: 8px;
    flex-direction: column;
    cursor: pointer;
    font-family: OpenSans;
}
.painel-img{
    width: 313px;
    height: 270px;
    margin: 16px 16px 0 16px;
}
.painel .img-carrossel{
    object-fit: cover;
    border-radius: 8px;
}
.painel h4{
    position: relative;
    font-weight: 700;
    font-size: 16px;
    text-align: left;
    width: 100%;
    margin: 8px 0 0 16px;
}
.painel span{
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    margin: 4px 0 0 16px;
    width: 80%;
}

/*
@media screen and (max-width: 900px) {
    .container-carrossel .carrossel{
        grid-auto-columns: calc((100% / 2) - 12px);
    }
}
@media screen and (max-width: 600px){
    .container-carrossel .carrossel{
        grid-auto-columns: 100%;
    }
}*/

/***** ENTRE EM CONTATO *****/

.contato{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 128px;
}
.contato-titulo{
    width: 100%;
    align-self: flex-start;
    margin-left: 136px;
    font-size: 40px;
    position: relative;
}
#hr-contato{
    width: 420px;
}
.container-contato{
    height: 711px;
    width: 80%;
    margin-top: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 0 20px #1F0C0033
}
.container-inform{
    width: 45%;
    height: 100%;
    background-color: #8F542E;
    border-radius: 8px 0 0 8px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: column;
}
.informacoes{
    display: flex;
    flex-direction: column;
    margin: 43px 0 0 35px;
    gap: 16px;
}
.inform-txt{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
}
.inform-txt p{
    color: #f0f0f0;
    font-family: OpenSans;
    font-size: 18px;
    font-weight: 700;
}
.inform-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 40px;
}
.inform-logo p{
    font-family: CormorantGaramond-Regular;
    font-size: 35px;
    font-weight: 400;
    color: #f0f0f0;
}
.container-inform hr{
    width: 348px;
    height: 2px;
    border-radius: 3px;
    background-color: #b2724a;
    border: none;
}
.container-forms{
    width: 55%;
    height: 100%;
    
}
.container-forms form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 10px 40px;
    height: 100%;
}
form input, textarea{
    width: 100%;
    height: 100%;
}
#form-nome, #form-email{
    height: 10%;
}
#form-mensagem{
    height: 30%;
}
.form-item input[type=text]{
    border-radius: 8px;
    border-style: solid;
    border-color: #8F542E;
    border-width: 1px;
}
.form-item textarea{
    border-radius: 8px;
    border-style: solid;
    border-color: #8F542E;
    border-width: 1px;
    resize: none;
}
.form-item label{
    font-family: OpenSans;
    font-size: 20px;
    font-weight: 600;
}

footer{
    margin-top: 128px;
    bottom: 0;
    background-color: #57290B;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
}
footer p{
    color: #fff;
    font-family: OpenSans;
    font-size: 16px;
    font-weight: 400;
}